colorama
psutil
pywin32
pynput
requests
PyQt5
keyboard
mouse-anywhere
PyAutoGUI
pyperclip
mss
numpy
pillow
PyScreeze
GPUtil
py-cpuinfo
screeninfo
WMI
Nuitka
pytweening
smart-mouse
certifi
charset-normalizer
idna
urllib3
future
ordered-set
six
zstandard